* {
  box-sizing: border-box;
}

/* TODO: Refactor this with scss */

body {
  font-family: 'Open Sans', sans-serif;
  background-color:  #f9f9f9;
}

body.Barbarian {
  background:
  url(https://media-waterdeep.cursecdn.com/attachments/0/276/barbarian1k.jpg) no-repeat center top,
  url(https://media-waterdeep.cursecdn.com/attachments/0/84/background_texture.png);
}

body.Bard {
  background:
  url(https://media-waterdeep.cursecdn.com/attachments/0/279/bard1k.jpg) no-repeat center top,
  url(https://media-waterdeep.cursecdn.com/attachments/0/84/background_texture.png);
}

body.Cleric {
  background:
  url(https://media-waterdeep.cursecdn.com/attachments/0/285/cleric1k.jpg) no-repeat center top,
  url(https://media-waterdeep.cursecdn.com/attachments/0/84/background_texture.png);
}

body.Druid {
  background:
  url(https://media-waterdeep.cursecdn.com/attachments/0/291/druid1k.jpg) no-repeat center top,
  url(https://media-waterdeep.cursecdn.com/attachments/0/84/background_texture.png);
}

body.Fighter {
  background:
  url(https://media-waterdeep.cursecdn.com/attachments/0/297/fighter1k.jpg) no-repeat center top,
  url(https://media-waterdeep.cursecdn.com/attachments/0/84/background_texture.png);
}

body.Monk {
  background:
  url(https://media-waterdeep.cursecdn.com/attachments/0/322/monk1k.jpg) no-repeat center top,
  url(https://media-waterdeep.cursecdn.com/attachments/0/84/background_texture.png);
}

body.Paladin {
  background:
  url(https://media-waterdeep.cursecdn.com/attachments/0/325/paladin1k.jpg) no-repeat center top,
  url(https://media-waterdeep.cursecdn.com/attachments/0/84/background_texture.png);
}

body.Ranger {
  background:
  url(https://media-waterdeep.cursecdn.com/attachments/0/328/ranger1k.jpg) no-repeat center top,
  url(https://media-waterdeep.cursecdn.com/attachments/0/84/background_texture.png);
}

body.Sorcerer {
  background:
  url(https://media-waterdeep.cursecdn.com/attachments/0/334/sorcerer1k.jpg) no-repeat center top,
  url(https://media-waterdeep.cursecdn.com/attachments/0/84/background_texture.png);
}

body.Warlock {
  background:
  url(https://media-waterdeep.cursecdn.com/attachments/0/340/warlock1k.jpg) no-repeat center top,
  url(https://media-waterdeep.cursecdn.com/attachments/0/84/background_texture.png);
}

body.Wizard {
  background:
  url(https://media-waterdeep.cursecdn.com/attachments/0/343/wizard1k.jpg) no-repeat center top,
  url(https://media-waterdeep.cursecdn.com/attachments/0/84/background_texture.png);
}

body.Rogue {
  background:
  url(https://media-waterdeep.cursecdn.com/attachments/0/331/rogue1k.jpg) no-repeat center top,
  url(https://media-waterdeep.cursecdn.com/attachments/0/84/background_texture.png);
}

a, a:visited {
  color: #b33129;
  text-decoration: none;
}

a:hover {
  color: black;
}

header {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

h1, h2, h3, .character-column {
  font-family: 'Uncial Antiqua', cursive;
}

h3 {
  font-size: 3rem;
}

.row {
  margin-bottom: 30px;
}

.column {
  margin-bottom: 10px;
}

.wrapper {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  position: relative
}

.wrapper h1, .wrapper .character-hero {
  text-align: center;
}

.attribute {
  margin: 10px 0;
}

.button.button-primary {
  background-color: #6f1f1a;
  border-color: white;
}

.button.button-primary:hover, .button.button-primary:focus {
  background-color: #b33129;
  border-color: white;
}

.character-column {
  background: #7f231d;
  background-position: 0 11%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  padding: 20px;
  text-align: right;
  color: white;
  cursor: pointer;
}

.character-column:hover {
  background-color: #b33129;
}

.character-column.Barbarian {
  background-image: url('../imgs/classes/Barbarian.png')
}

.character-column.Bard {
  background-image: url('../imgs/classes/Bard.png')
}

.character-column.Cleric {
  background-image: url('../imgs/classes/Cleric.png')
}

.character-column.Druid {
  background-image: url('../imgs/classes/Druid.png')
}

.character-column.Fighter {
  background-image: url('../imgs/classes/Fighter.png')
}

.character-column.Monk {
  background-image: url('../imgs/classes/Monk.png')
}

.character-column.Paladin {
  background-image: url('../imgs/classes/Paladin.png')
}

.character-column.Ranger {
  background-image: url('../imgs/classes/Ranger.png')
}

.character-column.Sorcerer {
  background-image: url('../imgs/classes/Sorcerer.png')
}

.character-column.Warlock {
  background-image: url('../imgs/classes/Warlock.png')
}

.character-column.Wizard {
  background-image: url('../imgs/classes/Wizard.png')
}

.character-column.Rogue {
  background-image: url('../imgs/classes/Rogue.png')
}

.character-column span {
  text-shadow: 1px 1px 2px black;
}

.character-column.one-half.column {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
}

.side-navi .fa {
  position: absolute;
  top: -8px;
  cursor: pointer;
}

.side-navi .fa-angle-left {
  left: -35px;
}

.side-navi .fa-angle-right {
  right: -35px;
}

footer {
  margin-top: 20px;
  text-align: center;
}

footer img {
 vertical-align: middle;
}
