/**
 * index.scss
 * - Add any styles you want here!
 */

* {
  box-sizing: border-box;
}

/* CUSTOM */

body {
  font-family: 'Open Sans', sans-serif;
  background-color:  #f9f9f9;
}

/* TODO: Refactor this with scss */

body.Barbarian {
  background:
  url(https://media-waterdeep.cursecdn.com/attachments/0/276/barbarian1k.jpg) no-repeat center top,
  url(https://media-waterdeep.cursecdn.com/attachments/0/84/background_texture.png);
}

body.Bard {
  background:
  url(https://media-waterdeep.cursecdn.com/attachments/0/279/bard1k.jpg) no-repeat center top,
  url(https://media-waterdeep.cursecdn.com/attachments/0/84/background_texture.png);
}

body.Cleric {
  background:
  url(https://media-waterdeep.cursecdn.com/attachments/0/285/cleric1k.jpg) no-repeat center top,
  url(https://media-waterdeep.cursecdn.com/attachments/0/84/background_texture.png);
}

body.Druid {
  background:
  url(https://media-waterdeep.cursecdn.com/attachments/0/291/druid1k.jpg) no-repeat center top,
  url(https://media-waterdeep.cursecdn.com/attachments/0/84/background_texture.png);
}

body.Fighter {
  background:
  url(https://media-waterdeep.cursecdn.com/attachments/0/297/fighter1k.jpg) no-repeat center top,
  url(https://media-waterdeep.cursecdn.com/attachments/0/84/background_texture.png);
}

body.Monk {
  background:
  url(https://media-waterdeep.cursecdn.com/attachments/0/322/monk1k.jpg) no-repeat center top,
  url(https://media-waterdeep.cursecdn.com/attachments/0/84/background_texture.png);
}

body.Paladin {
  background:
  url(https://media-waterdeep.cursecdn.com/attachments/0/325/paladin1k.jpg) no-repeat center top,
  url(https://media-waterdeep.cursecdn.com/attachments/0/84/background_texture.png);
}

body.Ranger {
  background:
  url(https://media-waterdeep.cursecdn.com/attachments/0/328/ranger1k.jpg) no-repeat center top,
  url(https://media-waterdeep.cursecdn.com/attachments/0/84/background_texture.png);
}

body.Sorcerer {
  background:
  url(https://media-waterdeep.cursecdn.com/attachments/0/334/sorcerer1k.jpg) no-repeat center top,
  url(https://media-waterdeep.cursecdn.com/attachments/0/84/background_texture.png);
}

body.Warlock {
  background:
  url(https://media-waterdeep.cursecdn.com/attachments/0/340/warlock1k.jpg) no-repeat center top,
  url(https://media-waterdeep.cursecdn.com/attachments/0/84/background_texture.png);
}

body.Wizard {
  background:
  url(https://media-waterdeep.cursecdn.com/attachments/0/343/wizard1k.jpg) no-repeat center top,
  url(https://media-waterdeep.cursecdn.com/attachments/0/84/background_texture.png);
}

body.Rogue {
  background:
  url(https://media-waterdeep.cursecdn.com/attachments/0/331/rogue1k.jpg) no-repeat center top,
  url(https://media-waterdeep.cursecdn.com/attachments/0/84/background_texture.png);
}

header {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

h1, h2, h3 {
  font-family: 'Uncial Antiqua', cursive;
}

h3 {
  font-size: 3rem;
}

.row {
  margin-bottom: 30px;
}

.column {
  margin-bottom: 10px;
}

.wrapper {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.wrapper h1, .wrapper .character-hero {
  text-align: center;
}

.wrapper h3 {
  /*text-align: right;*/
}

.attribute {
  margin: 10px 0;
}

footer {
  text-align: center;
}

footer img {
 vertical-align: middle;
}
